%h3 Last 4 workouts

.row
  %ul

  -@workouts.each do |workout|
    %li
      =link_to "#{workout.date.strftime("%A, %b %d")} - #{workout.routine.name}", workout_path(workout)

%h3 All Routines

.row
  %ul

  -@routines.each do |routine|
    %li
      =link_to routine.name, routine_path(routine)
